<!-- Show timer starting is when page loads counting down from 30 sec -->
<span id="countdown_clock">00:30</span>

<script>
    window.onload = function() {
        var countdown = Tock({
            countdown: true,
            interval: 60,
            callback: function () {
                console.log(countdown.lap() / 1000);
                $('#countdown_clock').text(countdown.msToTime(countdown.lap()));
            },
            complete: function () {
                console.log('end');
                alert("Time's up!");
            }
        });

        $(document).ready( function () {
				countdown.start($('#countdown_clock').text());
		});

        $('#timeout').on('click', function () {
            countdown.stop();
            // Start a new jam not incrementing the jam number and marking it a timeout.
        });
    }
    </script>
