{% extends 'html/game_base.html' %}
{% block content %}

<script>
window.onload = function() {
	var timer = new Tock({
            callback: function () {
                $('#clockface').val(timer.msToTime(timer.lap()));
            }
        });

        $('#start').on('click', function () {
            timer.start($('#clockface').val());
        });

        $('#lap').on('click', function () {
            $('#laptimes').append(timer.msToTime(timer.lap()) + '<br>');
        });

        $('#pause').on('click', function () {
            timer.pause();
        });

        $('#stop').on('click', function () {
            timer.stop();
        });

        $('#reset').on('click', function () {
            timer.reset();
            $('#clockface').val('');
            $('#laptimes').html('');
        });
}
</script>
{% endblock %}