<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Track Side Stats</title>
		<link href="static/bootstrap-3.3.4-dist/css/bootstrap.cyborg.css" rel="stylesheet">
		<link rel="stylesheet" href="static/js/jquery-ui.min.css">
		<link rel="stylesheet" href="static/css/tracksidestats.css">
		<script src="static/js/jquery-2.1.4.min.js"></script>
		<script src="static/js/tock/tock.js"></script>
		<script src="static/js/external/jquery/jquery.js"></script>
		<script src="static/js/jquery-ui.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/ico" href="../static/img/favicon/favicon.ico">
		
	</head>
	<body>
		{% block content %}

		{% endblock %}
		<ul>
			{% for message in get_flashed_messages() %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	<script src="static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	<script src='static/js/tracksidestats.js'></script>
	</body>
</html>