<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>hhk</title>
		<link href="static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="static/css/tracksidestats.css">
		<link rel="stylesheet" href="static/js/jquery-ui.min.css">
		<!-- // <script src='static/js/underscore-min.js'></script> -->
		<script src="static/js/jquery-2.1.4.min.js"></script>
		<script src="static/js/tock/tock.js"></script>
		<script src="static/js/external/jquery/jquery.js"></script>
		<script src="static/js/jquery-ui.min.js"></script>
		
	</head>
	<body>
		{% block content %}

		{% endblock %}
		<ul>
			{% for message in get_flashed_messages() %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	<script src="static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	<script src='static/js/tracksidestats.js'></script>
	</body>
</html>