<!DOCTYPE html>
<html>
	<head>
		<title>Track Side Stats</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="static/js/jquery-ui.min.css">
		<!-- // <script src='static/js/underscore-min.js'></script> -->
		<script src="static/js/jquery-2.1.4.min.js"></script>
		<script src="static/js/tock/tock.js"></script>
		<script src="static/js/external/jquery/jquery.js"></script>
		<script src="static/js/jquery-ui.min.js"></script>
		
	</head>
	<body>
		<h1>Game Screen</h1>
		{% block content %}

		{% endblock %}
			<ul>
				{% for message in get_flashed_messages() %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
	</body>
</html>