{% extends 'html/web_base.html' %}
{% block content %}

{% if session.game == 'new' %}
	<h1>Create New Game</h1>

	<form action="/new_game" method="POST">
		Home Team: 
			<select name='home_team' required>
				<option value='' disabled selected>Select Home Team</option>
				{% for team in teams %}
				<option value='{{ team.team_id }}'>{{ team.name }}</option>
				{% endfor %}
			</select>
			Color: 
				<select name='home_color_input' required>
					<option value='' disabled selected>Select Color</option>
					<option value='aqua'>Aqua</option>
					<option value='black'>Black</option>
					<option value='blue'>Blue</option>
					<option value='fuchsia'>Fuchsia</option>
					<option value='gray'>Gray</option>
					<option value='green'>Green</option>
					<option value='lime'>Lime</option>
					<option value='maroon'>Maroon</option>
					<option value='navy'>Navy</option>
					<option value='olive'>Olive</option>
					<option value='orange'>Orange</option>
					<option value='purple'>Purple</option>
					<option value='red'>Red</option>
					<option value='silver'>Silver</option>
					<option value='teal'>Teal</option>
					<option value='white'>White</option>
					<option value='yellow'>Yellow</option>
				</select><br>
		Visiting Team: 
			<select name='away_team' title='Select Away Team' required>
				<option value='' disabled selected>Select Away Team</option>
				{% for team in teams %}
				<option value='{{ team.team_id }}'>{{ team.name }}</option>
				{% endfor %}
			</select>
			Color: 
				<select name='away_color_input' required>
					<option value='' disabled selected>Select Color</option>
					<option value='aqua'>Aqua</option>
					<option value='black'>Black</option>
					<option value='blue'>Blue</option>
					<option value='fuchsia'>Fuchsia</option>
					<option value='gray'>Gray</option>
					<option value='green'>Green</option>
					<option value='lime'>Lime</option>
					<option value='maroon'>Maroon</option>
					<option value='navy'>Navy</option>
					<option value='olive'>Olive</option>
					<option value='orange'>Orange</option>
					<option value='purple'>Purple</option>
					<option value='red'>Red</option>
					<option value='silver'>Silver</option>
					<option value='teal'>Teal</option>
					<option value='white'>White</option>
					<option value='yellow'>Yellow</option>
				</select><br>
		Date of game: <input type='date' name='date_input' required><br>
		Event Name: <input type='text' name='event_input'><br>
		Location: <input type='text' name='location_input' required><br>
		Game Type: 
			<select name='g_type_input'>
				<option value='' disabled selected>Select Game Type</option>
				<option value='A team'>A team</option>
				<option value='B team'>B team</option>
				<option value='home team'>home team</option>
				<option value='rec league'>rec league</option>
				<option value='scrimmage'>scrimmage</option>
			</select><br>
		Floor Type: 
			<select name='floor_input'>
				<option value='' disabled selected>Select Floor Type</option>
				<option value='wood'>wood</option>
				<option value='sport court'>sport court</option>
				<option value='concrete'>concrete</option>
				<option value='polished concrete'>polished concrete</option>
				<option value='outdoors concrete'>outdoors concrete</option>
			</select><br>
			<br>
		<input type='submit' value='Create Game'>
	</form>
{% else %}
	<h1>Current Game: </h1>
	Debug game_id: {{ session.game.game_id }}
	<div name='game_info'>
		<h2>{{ session.game.event_name }}</h2>
		<p name='game_info_details'>
			Date: {{ session.game.date }}<br>
			Location: {{ session.game.location }}<br>
			<span name='game_info_gametype'>{{ session.game.g_type }}</span>
			<span name='game_info_floortype'>{{ session.game.floor }}</span>
		</p>
	</div>
	

{% endif %}

{% endblock %}