{% extends 'html/web_base.html' %}
{% block content %}
<div class='container'>
	<div class='row'>
		{% if session.game.event_name %}
		<h1>{{ session.game.event_name }}</h1>
		{% endif %}
	</div>
	<div class='row setup_player'>
		<div class='col-md-2'>
			<label>Date:</label> {{ session.game.date }}
		</div>
		<div class='col-md-4'>
			<label>Location:</label> {{ session.game.location }}
		</div>
		<div class='col-md-2'>
			<label>Game Type:</label> {{ session.game.g_type }}
		</div>
		<div class='col-md-2'>
			<label>Floor Type:</label> {{ session.game.floor }}
		</div>
		<div class='col-md-1 col-md-offset-1'>
			<a href="/player_assignment" class="btn btn-success" id='start_game'>Start Game</a>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-5 col-md-offset-1'>
			<h2>{{ session.home_team.team_name }}</h2>
			<div class='setup'>
				<ul>
					{% for number, name, player_id, rospla_id, roster_id in home %}
					<li class='setup_row'>
						<p class='col-md-8 setup_player'>{{ name }} ({{ number }})</p>
						<button class='removeplayer btn btn-danger col-md-4 setup_remove' data-rosplaid='{{rospla_id}}'>Remove</button>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class='col-md-5'>
			<h2>{{ session.away_team.team_name }}</h2>
			<div class='setup'>
				<ul>
					{% for number, name, player_id, rospla_id, roster_id in away %}
					<li class='setup_row'>
						<p class='col-md-8 setup_player'>{{ name }} ({{ number }})</p>
						<button class='removeplayer btn btn-danger col-md-4 setup_remove' data-rosplaid='{{rospla_id}}'>Remove</button>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}