{% extends 'html/game_base.html' %}
{% block content %}
<div class='container'>
	<div class='row'>
		<form action='jam_start' method='POST'>
		<div class='col-md-4'>
			<!-- Show current jam stored in session -->
			<div id='current_jam'>
				<h2>Jam: {{ session.jam_num }}</h2>
			</div>
		</div>

		<div class='col-md-4'>
			<!-- Show current period stored in session -->
			<div id='current_period'>
				<h2>Period: {{ session.period_num }}</h2>
			</div>
		</div>
		<div class='col-md-2'>
			{% if session.jam_num != 1 %}
			<h2>{% include "html/between_jams.html" %}</h2>
			{% endif %}
		</div>
		<div class='col-md-2'>
			<input class='btn btn-success' id='start_jam' type='submit' value='Start Jam'>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-3'>
			<h3>{{ session.home_team.team_name }}</h3>
		</div>
		<div class='col-md-3'>
			<h3>Assign positions:</h3>
		</div>
		<div class='col-md-3'>
			<h3>{{ session.away_team.team_name }}</h3>
		</div>
		<div class='col-md-3'>
			<h3>Assign positions:</h3>
		</div>
	</div>
	<div class='row'>
		<!-- Show home roster list of players-->
		<div id='home_roster' class='col-md-3'>
			<div id='home_roster_players' class='roster'>
				<input type='hidden' id='home_team_info' data-color="{{ session['home_team']['color'] }}"></input>
				<ul>
					{% for number, name, player_id, rospla_id, roster_id in home %}
					<li>
						<div data-playerid='{{player_id}}' data-name='{{ name }}' data-number='{{ number }}'  class='home_player'>
								<p class='roster_player'>{{ name }} ({{ number }})</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<!-- Show home positions-->
		<div id='home_positions' class='col-md-3'>
			<div id='pivot' class='home_position'>
				<p class='pos_label'>Pivot</p>
				<p class='player_pos'></p>
				<input type='hidden' id='pivot' name='pivot' value='' class='pos'>
			</div>
			<div id='blocker_1' class='home_position'>
				<p class='pos_label'>Blocker</p>
				<p class='player_pos'></p>
				<input type='hidden' id='blocker1' name='blocker1' value='' class='pos'>
			</div>
			<div id='blocker_2' class='home_position'>
				<p class='pos_label'>Blocker</p>
				<p class='player_pos'></p>
				<input type='hidden' id='blocker2' name='blocker2' value='' class='pos'>
			</div>
			<div id='blocker_3' class='home_position'>
				<p class='pos_label'>Blocker</p>
				<p class='player_pos'></p>
				<input type='hidden' id='blocker3' name='blocker3' value='' class='pos'>
			</div>
			<div id='jammer' class='home_position'>
				<p class='pos_label'>Jammer</p>
				<p class='player_pos'></p>
				<input type='hidden' id='jammer' name='jammer' value='' class='pos'>
			</div>
		</div>

		<!-- Show away roster list of players-->
		<div id='away_roster' class='col-md-3'>
			<div id='away_roster_players' class='roster'>
				<input type='hidden' id='away_team_info' data-color="{{ session['away_team']['color'] }}"></input>
				<ul>
					{% for number, name, player_id, rospla_id, roster_id in away %}
					<li>
						<div data-playerid='{{player_id}}' data-name='{{ name }}' data-number='{{ number }}' class='away_player'>
							<p class='roster_player'>{{ name }} ({{ number }})</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<!-- Show away position -->
		<div id='away_positions' class='col-md-3'>
			<div id='away_jammer' class='away_position'>
				<p class='pos_label'>Jammer</p>
				<p class='player_pos'></p>
				<input type='hidden' id='away_jammer' name='away_jammer' value='' class='pos'>
			</div>
			<div id='away_pivot' class='away_position'>
				<p class='pos_label'>Pivot</p>
				<p class='player_pos'></p>
				<input type='hidden' id='away_pivot' name='away_pivot' value='' class='pos'>
			</div>
		</div>

		

		</form>
	</div>
</div>
<div class="modal fade" id="start_jam_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button id="start_jam_button" value='startjam'>Start Jam</button>
        </div>
    </div>
</div>



{% endblock %}