/* tracksidestats.css */

html,
body {
  height: 100%;
  /* Background pattern from subtlepatterns.com */
  background-image: url("img/dark_wood.png"); 
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #222222;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#TSS_logo_sm {
	border-radius: 3px;
}

#TSS_logo_md {
	border-radius: 10px;
}

#game_in_prog_warning {
	margin-top: 20px;
}

#game_in_prog_warning h3 {
	text-align: center;
}

#game_in_prog_warning label {
	text-align: right;
}

#start_game {
	text-align: right;
}

#start_jam {
	margin-top: 20px;
}

.setup_player {
	font-size: 18px;
	padding: 3px;
}

.setup_row {
	list-style-type: none;
	font-size: 18px;
	color: white;
}

.setup_remove {
	width: 80px;
}

legend {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 40px;
}

#main_content {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
}

.navbar-brand {
	padding-top: 5px;
}

.front_img {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 30px;
}

.control {
	height: 200px;
	width: 200px;
	border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    position: relative;
    z-index: 60;
}

.tss_headline {
	font-size: 140px;
	text-align: center;
}

.tss_byline {
	text-align: center;
	font-size: 48px;
}

.player {
	border-style: solid;
	border-width: 1px;
	background-color: white;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	margin-left: auto;
    margin-right: auto;
    margin: 50px;
    text-align: center;
    z-index: 70;
}

.position {
	font-size: 10px;
	padding: 0px;
}

.roster {
	height: 500px;
	overflow-y: scroll;
}

.setup {
	height: 430px;
	overflow-y: scroll;
}

.roster li {
	list-style-type: none;
}

.home_player {
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-radius: 20px;
	height: 50px;
	width: 200px;
	text-align: center;
	padding: 12px;
	margin: 5px;
}

.away_player {
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-radius: 20px;
	height: 50px;
	width: 200px;
	text-align: center;
	padding: 12px;
	margin: 5px;
}

.home_position {
	border-style: solid;
	border-width: 3px;
	background-color: white;
	border-radius: 20px;
	height: 80px;
	width: 150px;
	text-align: center;
	margin: 10px;
}

.away_position {
	border-style: solid;
	border-width: 3px;
	background-color: white;
	border-radius: 20px;
	height: 80px;
	width: 150px;
	text-align: center;
	margin: 10px;
}

.player_name {
	font-size: 14px;
	padding: 0px;
}

.player_number {
	font-size: 14px;
	padding: 0px;
}

#home_team_info {
	text-align: center;
}

#away_team_info {
	text-align: center;
}

.center {
	text-align: center;
}

.duringjamtimer {
	font-size: 38px;
	display: block;
	margin-top: 10px;
	text-align: left;
}

#message {
	position: fixed;
    top: 90px;
    left: 25%;
    color: red;
    font-size: 20px;
    z-index:200;
    height: 40px;
    width: 600px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.dropmehere {
	height: 70px;
	width: 70px;
	background-color: white;
	border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: black;
    z-index: 69;
    text-align: center;
    padding-top: 10px;
}

#home_score {
	text-align: center;
}

#away_score {
	text-align: center;
}

.driveout {
	position: absolute;
	left: -60px;
	top: 65px;
}

.knockdown {
	position: absolute;
	left: -10px;
	top: -50px;
}

.screen {
	position: absolute;
	left: 140px;
	top: -50px;
}

.whip {
	position: absolute;
	left: 190px;
	top: 65px;
}

.blockassist {
	position: absolute;
	left: 140px;
	top: 180px;
}

.penalty {
	position: absolute;
	left: -10px;
	top: 180px;
}

.leadjam {
	position: absolute;
    left: -60px;
	top: 65px;
}

.initialpass {
	position: absolute;
    left: -60px;
	top: 65px;
}

.calloff {
	position: absolute;
    left: 140px;
	top: 180px;
}

.points {
	position: absolute;
    left: 190px;
    top: 65px;
}

.points_number {
	height: 146px;
	width: 146px;
	font-size: 70px;
}

.starpass {
	position: absolute;
    left: 65px;
    top: -50px;
}

