/* tracksidestats.css */

.control {
	height: 200px;
	width: 200px;
	border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-left: 95px;
    margin-right: 95px;
    margin: 20px;
    position: relative;
    z-index: 60;
    box-shadow: 10px 5px 5px #DCDCDC;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.player {
	border-style: solid;
	border-width: 1px;
	background-color: white;
	height: 100px;
	width: 100px;
	border-radius: 20px;
	margin-left: auto;
    margin-right: auto;
    margin: 50px;
    text-align: center;
    z-index: 70;
}

.position {
	font-size: 10px;
	padding: 0px;
}

.player_name {
	font-size: 14px;
	padding: 0px;
}

.player_number {
	font-size: 14px;
	padding: 0px;
}

#home_team_info {
	text-align: center;
}

#away_team_info {
	text-align: center;
}

.center {
	text-align: center;
}

.timer {
	font-size: 38px;
}

#message {
	position: fixed;
    top: 300px;
    right: 500px;
    color: red;
    font-size: 20px;
    z-index:200;
    height: 40px;
    width: 400px;
    background-color: white;
    box-shadow: 10px 5px 5px #DCDCDC;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.dropmehere {
	height: 70px;
	width: 70px;
	background-color: white;
	border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: red;
    z-index: 69;
    box-shadow: 10px 5px 5px #DCDCDC;
}

.driveout {
	position: absolute;
	left: -60px;
	top: 65px;
}

.knockdown {
	position: absolute;
	left: -10px;
	top: -50px;
}

.screen {
	position: absolute;
	left: 140px;
	top: -50px;
}

.whip {
	position: absolute;
	left: 190px;
	top: 65px;
}

.blockassist {
	position: absolute;
	left: 140px;
	top: 180px;
}

.penalty {
	position: absolute;
	left: -10px;
	top: 180px;
}

.leadjam {
	position: absolute;
    left: -60px;
	top: 65px;
}

.initialpass {
	position: absolute;
    left: -60px;
	top: 65px;
}

.calloff {
	position: absolute;
    left: 140px;
	top: 180px;
}

.points {
	position: absolute;
    left: 190px;
    top: 65px;
}

.points_number {
	height: 146px;
	width: 146px;
	font-size: 70px;
}

.starpass {
	position: absolute;
    left: 65px;
    top: -50px;
}

